Repository Altinn/altinn-notifications, changes with the labels that .github/labeler.yml gives for each.
All labels: review/domain-model-changes, review/trigger-changes

.github/labeler.yml:

# Labels for pull requests

review/domain-model-changes:
  - 'src/Altinn.Notifications.Core/Enums/**'
  - 'src/Altinn.Notifications.Core/Models/**'

review/trigger-changes:
  - 'src/Altinn.Notifications.Triggers/**'

Delete appsettings.Development.json
  src/Altinn.Notifications.Triggers/appsettings.Development.json
Labels: review/trigger-changes

updated step names
  .github/workflows/container-scan.yml
Labels: none

fixed code smell
  src/Altinn.Notifications.Triggers/Program.cs
Labels: review/trigger-changes

fixed syntax in dockerfile
  src/Altinn.Notifications.Triggers/Dockerfile
Labels: review/trigger-changes

updated dockerfile
  src/Altinn.Notifications.Triggers/Dockerfile
Labels: review/trigger-changes

updated dockerfile
  src/Altinn.Notifications.Triggers/Altinn.Notifications.Triggers.csproj
  src/Altinn.Notifications.Triggers/Dockerfile
Labels: review/trigger-changes

changed to webapi
  src/Altinn.Notifications.Triggers/Altinn.Notifications.Triggers.csproj
  src/Altinn.Notifications.Triggers/Health/HealthCheck.cs
  src/Altinn.Notifications.Triggers/Program.cs
  src/Altinn.Notifications.Triggers/Properties/launchSettings.json
Labels: review/trigger-changes

added timer service
  Dockerfile
  src/Altinn.Notifications.Triggers/BackgroundServices/TriggerTimer.cs
  src/Altinn.Notifications.Triggers/Program.cs
  src/Altinn.Notifications.Triggers/Properties/launchSettings.json
Labels: review/trigger-changes

setting config providers
  src/Altinn.Notifications.Triggers/Program.cs
Labels: review/trigger-changes

changed type of config providers func
  src/Altinn.Notifications.Triggers/Program.cs
Labels: review/trigger-changes

logging env var later
  src/Altinn.Notifications.Triggers/BackgroundServices/TriggerTimer.cs
Labels: review/trigger-changes

added stylecop
  src/Altinn.Notifications.Triggers/Altinn.Notifications.Triggers.csproj
  src/Altinn.Notifications.Triggers/BackgroundServices/TriggerTimer.cs
  src/Altinn.Notifications.Triggers/Configuration/PlatformSettings.cs
  src/Altinn.Notifications.Triggers/Program.cs
Labels: review/trigger-changes

Update Dockerfile
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Cleanup branch
  src/Altinn.Notifications.Core/Models/Email.cs
  src/Altinn.Notifications/appsettings.Development.json
Labels: review/domain-model-changes

fixed build error
  src/Altinn.Notifications.Triggers/Altinn.Notifications.Triggers.csproj
Labels: review/trigger-changes

adde trigger controller and unit test
  src/Altinn.Notifications.Persistence/Repository/OrderRepository.cs
  src/Altinn.Notifications/Controllers/TriggerController.cs
  test/Altinn.Notifications.Tests/Notifications/TestingControllers/TriggerControllerTests.cs
Labels: none

GetordersPastSendtime repository and proc
  src/Altinn.Notifications.Persistence/Migration/v0.03/01-setup-functions.sql
  src/Altinn.Notifications.Persistence/Repository/OrderRepository.cs
Labels: none

Bugfix
  src/Altinn.Notifications.Persistence/Repository/OrderRepository.cs
Labels: none

added kafka producer
  src/Altinn.Notifications.Core/Configuration/KafkaTopicSettings.cs
  src/Altinn.Notifications.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.Notifications.Core/Integrations/Interfaces/IKafkaProducer.cs
  src/Altinn.Notifications.Core/Services/Interfaces/IOrderProcessingService.cs
  src/Altinn.Notifications.Core/Services/OrderProcessingService.cs
  src/Altinn.Notifications.Integrations/Altinn.Notifications.Integrations.csproj
  src/Altinn.Notifications.Integrations/Configuration/KafkaSettings.cs
  src/Altinn.Notifications.Integrations/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.Notifications.Integrations/Kafka/Producers/KafkaProducer.cs
  src/Altinn.Notifications/Controllers/TriggerController.cs
  src/Altinn.Notifications/Program.cs
  src/Altinn.Notifications/appsettings.json
  test/Altinn.Notifications.Tests/Notifications/TestingControllers/TriggerControllerTests.cs
Labels: none

current progress
  src/Altinn.Notifications.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.Notifications.Core/Services/OrderProcessingService.cs
  test/Altinn.Notifications.IntegrationTests/EndToEndTests/PastDueOrderProcessingTest.cs
Labels: none

merged file from main
  src/Altinn.Notifications.Core/Enums/AddressType.cs
Labels: review/domain-model-changes

merged file from main
  src/Altinn.Notifications.Core/Models/Email.cs
Labels: review/domain-model-changes

fixed bug in service
  src/Altinn.Notifications.Core/Services/EmailNotificationService.cs
Labels: none

added kafka service
  .github/workflows/build-and-analyze.yml
Labels: none

new test for workflow
  .github/workflows/build-and-analyze.yml
Labels: none

new image test
  .github/workflows/build-and-analyze.yml
Labels: none

new test of workflow
  .github/workflows/build-and-analyze.yml
Labels: none

new test
  .github/workflows/build-and-analyze.yml
Labels: none

added scrpt for kafka setup
  README.md
  setup-kafka.yml
Labels: none

avoiding db in test code
  src/Altinn.Notifications.Core/Services/OrderProcessingService.cs
Labels: none

serialization of integration tests
  src/Altinn.Notifications.Core/Services/OrderProcessingService.cs
  test/Altinn.Notifications.IntegrationTests/Altinn.Notifications.IntegrationTests.csproj
  test/Altinn.Notifications.IntegrationTests/xunit.runner.json
Labels: none

tesing less code for kafka test instance
  .github/workflows/build-and-analyze.yml
Labels: none

added kafka consumer
  src/Altinn.Notifications.Core/Altinn.Notifications.Core.csproj
  src/Altinn.Notifications.Core/Configuration/KafkaSettings.cs
  src/Altinn.Notifications.Core/Configuration/KafkaTopicSettings.cs
  src/Altinn.Notifications.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.Notifications.Core/Integrations/Consumers/PastDueOrdersConsumer.cs
  src/Altinn.Notifications.Core/Repository/Interfaces/IEmailNotificationsRepository.cs
  src/Altinn.Notifications.Core/Services/EmailNotificationService.cs
  src/Altinn.Notifications.Core/Services/Interfaces/IEmailNotificationService.cs
  src/Altinn.Notifications.Core/Services/Interfaces/IOrderProcessingService.cs
  src/Altinn.Notifications.Core/Services/OrderProcessingService.cs
  src/Altinn.Notifications.Integrations/Altinn.Notifications.Integrations.csproj
  src/Altinn.Notifications.Integrations/Kafka/Producers/KafkaProducer.cs
  src/Altinn.Notifications.Persistence/Migration/v0.02/01-setup-table.sql
  src/Altinn.Notifications.Persistence/Migration/v0.02/02-setup-functions.sql
  src/Altinn.Notifications/Controllers/TriggerController.cs
  src/Altinn.Notifications/appsettings.json
  test/Altinn.Notifications.Tests/Notifications/TestingControllers/TriggerControllerTests.cs
Labels: none

removed unused method
  src/Altinn.Notifications.Core/Repository/Interfaces/IOrderRepository.cs
  src/Altinn.Notifications.Persistence/Repository/OrderRepository.cs
Labels: none

implemented consumer
  src/Altinn.Notifications.Core/Enums/EmailNotificationResultType.cs
  src/Altinn.Notifications.Core/Enums/IResultType.cs
  src/Altinn.Notifications.Core/Integrations/Consumers/PastDueOrdersConsumer.cs
  src/Altinn.Notifications.Core/Models/Notification/EmailNotification.cs
  src/Altinn.Notifications.Core/Models/Notification/INotification.cs
  src/Altinn.Notifications.Core/Models/Notification/NotificationResult.cs
  src/Altinn.Notifications.Core/Models/Orders/NotificationOrder.cs
  src/Altinn.Notifications.Core/Repository/Interfaces/IEmailNotificationsRepository.cs
  src/Altinn.Notifications.Core/Services/EmailNotificationService.cs
  src/Altinn.Notifications.Persistence/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.Notifications.Persistence/Migration/v0.02/01-setup-types.sql
  src/Altinn.Notifications.Persistence/Migration/v0.02/02-setup-table.sql
  src/Altinn.Notifications.Persistence/Migration/v0.02/03-setup-functions.sql
  src/Altinn.Notifications.Persistence/Repository/EmailNotificationRepository.cs
Labels: review/domain-model-changes

Update docker-compose version, remove MSTest dependencies
  setup-kafka.yml
  test/Altinn.Notifications.IntegrationTests/Altinn.Notifications.IntegrationTests.csproj
Labels: none

QA-update
  src/Altinn.Notifications.Persistence/Repository/OrderRepository.cs
Labels: none

Update coverlet
  test/Altinn.Notifications.IntegrationTests/Altinn.Notifications.IntegrationTests.csproj
Labels: none

Resolve conflicts
  test/Altinn.Notifications.IntegrationTests/Altinn.Notifications.IntegrationTests.csproj
Labels: none
